:root {
	--hcb--c: #f8f8f2;
	--hcb--bgc: #34352e;
	--hcb--data-label--c: #fff;
	--hcb--data-label--bgc: #111;
	--hcb--file-icon: url(../../assets/img/file-icon-dark.svg);
	--hcb--scbar-track--bgc: rgba(255, 255, 255, 0.1);
	--hcb--scbar-thumb--bgc: rgba(255, 255, 255, 0.2);

	// --hcb--placeholder--c: rgba(255, 255, 255, 0.4);
}
