/*
	カラーリングに関係ない共通設定
	一部、設定によって、PHPから出力されるインラインスタイルで上書きされる
 */
:root {
	--hcb--fz: var(--hcb--fz--base, 14px);
	--hcb--ff: "Menlo", "Consolas", "Hiragino Kaku Gothic ProN", "Hiragino Sans", "Meiryo", sans-serif;
	--hcb--pY: 1.75em;
	--hcb--pX: 1.5em;
	--hcb--radius: 3px;
	--hcb--linenumW: 3.5ch; // It works if the line number is less than or equal to 999
	--hcb--data-label: attr(data-lang);
	--hcb--btn-offset: 20px;

	// デフォルトカラー
	--hcb--c: #1f1e1e;
	--hcb--tsh: unset;
	--hcb--bgc: rgb(248, 246, 246);
	--hcb--data-label--c: #1f1e1e;
	--hcb--data-label--bgc: #e8e8e8;
	--hcb--line-numbers--c: #999;
	--hcb--highlight-color: rgba(150, 120, 100, 0.1);
	--hcb--file-icon: url(../../assets/img/file-icon-light.svg);
	--hcb--scbar-track--bgc: rgba(150, 150, 150, 0.1);
	--hcb--scbar-thumb--bgc: rgba(150, 150, 150, 0.25);
}

@media screen and (max-width: 599px) {

	:root {
		--hcb--fz: var(--hcb--fz--mobile, 13px);
	}
}
