@charset "UTF-8";

body {
	--hcb-color--text: #f8f8f2;
	--hcb-color--text-shadow: rg1a1a1ab(136, 132, 132);
	--hcb-color--bg: #34352e;
	--hcb-color--lang--text: #fff;
	--hcb-color--lang--bg: #111;
	--hcb-file-icon: url(../../assets/img/file-icon-dark.svg);
}


// Gutenbergでのプレースホルダー
.hcb_wrap textarea.hcb_textarea {

	&::placeholder {
		color: rgba(255, 255, 255, 0.4);
		font-style: italic;
	}

	&::-ms-input-placeholder,
	&::-moz-placeholder,
	&::-webkit-input-placeholder {
		color: rgba(255, 255, 255, 0.4);
		font-style: italic;
	}
}
