@charset "UTF-8";

body {
	--hcb-color--text: #1f1e1e;
	--hcb-color--text-shadow: #fff;
	--hcb-color--bg: #f7f6f6;
	--hcb-color--lang--text: #1f1e1e;
	--hcb-color--lang--bg: #dedede;
	--hcb-file-icon: url(../../assets/img/file-icon-light.svg);
}
