@charset "UTF-8";

// Light
.hcb_codewrap,
.hcb_wrap pre,
.hcb_wrap textarea.hcb_textarea {
	color: #1f1e1e !important;
	background: #f7f6f6 !important;
}

// クラシックブロック用
.hcb_wrap pre.prism::before {
	color: #333;
	background: #dedede;
}

// Lang Name
.hcb-block::before {
	color: #1f1e1e;
	background-color: #dedede;
}

.hcb-block[data-file]::before {
	// background-color: #dedede;
	background-image: url(../../assets/img/file-icon-light.svg);
}
