@charset "UTF-8";

// 共通
.mce-content-body .hcb_wrap {
	margin: 2em 0;
}

.hcb_wrap {
	position: relative;
	border: solid 1px #f1f1f1;

	pre,
	textarea.hcb_textarea {
		position: static;
		display: block;
		box-sizing: border-box;
		width: 100%;
		margin: 0 !important;
		padding: 1.5em;
		overflow-x: auto;
		font-size: 14px;
		font-family: Menlo, Consolas, "Hiragino Kaku Gothic ProN", "Hiragino Sans", Meiryo, sans-serif;
		line-height: 1.8;
		white-space: pre !important;
		// overflow-y: hidden;
		overflow-wrap: break-word;
		tab-size: 2;
		border: none;
		border-radius: 0;

		// スクロールバー
		&::-webkit-scrollbar {
			height: 8px;
			border: none;
		}

		&::-webkit-scrollbar-track {
			background: #f7f7f7;
			border: none;
		}

		&::-webkit-scrollbar-thumb {
			background: rgba(0, 0, 0, 0.1);
			border-radius: 4px;
		}
	}

	textarea.hcb_textarea {
		outline: none;
		box-shadow: none;
		resize: none;
	}

	pre code {
		display: block;
		padding: 0 !important;
		color: inherit !important;
		font-family: inherit !important;
		tab-size: 2;
		background: inherit !important;
	}

	// 設定エリア
	.hcb_controls {
		display: flex;
		flex-wrap: wrap;
		padding: 8px 8px;

		&::after {
			display: block;
			clear: both;
			height: 0;
			visibility: hidden;
			content: "";
		}

		.components-base-control {
			flex-basis: 50%;
			max-width: 25rem;

			select {
				width: 100%;
				// margin: 0;
			}
		}

		.filename_input {
			flex-basis: 20%;
			// float: right;
			min-width: 10em;
			height: 28px;
			margin-left: auto;
			padding: 0 8px;
			line-height: 28px;
		}

		.num_input {
			flex-basis: 20%;
			// float: right;
			min-width: 10em;
			height: 28px;
			margin-left: 16px;
			padding: 0 8px;
			line-height: 28px;
		}
	}

	pre::before {
		position: absolute;
		top: 0;
		right: 0;
		display: block;
		width: max-content;
		min-width: 3em;
		padding: 0 8px;
		font-size: 12px;
		font-family: Arial, Helvetica, sans-serif;
		line-height: 24px;
		text-align: center;
		content: attr(data-lang);
	}
}

.hcb_codewrap {
	position: relative;
	padding-right: 1em;
}

.hcb_linenum {
	position: absolute;
	top: 1em;
	left: 1em;
	display: none;
	width: 0;
	height: calc(100% - 2em);
	border-right: solid 1px rgba(150, 150, 150, 0.5);
}

.hcb-block[data-show-linenum] {

	.hcb_linenum {
		display: block;
	}

	textarea.hcb_textarea {
		width: calc(100% - 2em);
		margin-left: 2em !important;
		padding-left: 0.5em;
	}
}



/* Lang Name (ブロックだけ) */
.hcb-block::before {
	position: absolute;
	top: 0;
	right: 0;
	z-index: 1;
	box-sizing: border-box;
	//   display: block;
	//   width: max-content;
	min-width: 4em;
	padding: 0 10px;
	font-size: 12px;
	font-family: Arial, Helvetica, sans-serif;
	line-height: 20px;
	text-align: center;
	content: attr(data-lang);
}

.hcb-block[data-file]::before {
	padding: 0 8px 0 20px;
	background-repeat: no-repeat;
	background-position: center left 8px;
	background-size: auto 10px;
	content: attr(data-file);
}

.hcb-block[data-show-lang="0"]:not([data-file])::before {
	content: none;
}
