@charset "UTF-8";

.wrap.hcb_setting th {
	min-width: 16em;
}

.hcb_field_textarea.support_langs {
	display: flex;
	margin-bottom: 1em;

	textarea {
		margin-right: 2em;
	}
}

#font_family {
	width: 400px;
	max-width: 100%;
}

pre.default_support_langs {
	position: relative;
	margin: 0;
	padding: 1.5em 0.5em 0.75em;
	background: #eaeaea;

	&::before {
		position: absolute;
		top: 0;
		left: 0;
		display: block;
		box-sizing: border-box;
		width: 100%;
		padding: 0 0.5em;
		font-size: 12px;
		background: #ccc;
		content: "Default : ";
	}

	code {
		display: block;
		font-size: 12px;
		line-height: 1.25;
		background: none;
	}
}

