@charset "UTF-8";

.wrap.hcb_setting th {
	min-width: 16em;
}

.hcb_field_textarea.support_langs {
	display: flex;
	flex-wrap: wrap;
	gap: 1.5em;
	margin-bottom: 1em;
}

#font_family {
	width: 100%;
	max-width: 800px;
}

pre.default_support_langs {
	position: relative;
	margin: 0;
	padding: 1.75em 0.5em 0.75em;
	background: #eaeaea;


	&::before {
		position: absolute;
		top: 0;
		left: 0;
		display: block;
		box-sizing: border-box;
		width: 100%;
		padding: 0 8px;
		font-size: 12px;
		line-height: 20px;
		background: #ccc;
		content: "Default : ";
	}

	code {
		display: block;
		font-size: 12px;
		line-height: 1.4;
		background: none;
	}
}

