/*
    カラーリングに関係ない共通設定
 */
$hcbPaddingY: 1.75em;

/* scrollbar */
.hcb_wrap pre::-webkit-scrollbar {
	height: 6px;
}

.hcb_wrap pre::-webkit-scrollbar-track {
	background: #f7f7f7;
	border: none;
}

.hcb_wrap pre::-webkit-scrollbar-thumb {
	background: rgba(0, 0, 0, 0.1);
	border-radius: 3px;
}

/* code wrapper*/
.hcb_wrap {
	position: relative;
	z-index: 0;
	display: block;
	margin-top: 2em;
	margin-bottom: 2em;
	padding: 0;

	code,
	pre {
		white-space: pre;
		text-align: left;
		word-wrap: normal;
		word-break: normal;
		word-spacing: normal;
		tab-size: 4;
		hyphens: none;
		border: none;
	}

	pre {
		position: static;
		display: block;
		box-sizing: border-box;
		margin: 0;
		padding: $hcbPaddingY 1.5em;
		overflow: auto;
		font-family: Menlo, Consolas, "Hiragino Kaku Gothic ProN", "Hiragino Sans", Meiryo, sans-serif;
		line-height: 1;
		letter-spacing: 0.1px;
		border-radius: 0;
		-webkit-overflow-scrolling: touch;
		// z-index: 0;
	}

	code,
	span {
		box-sizing: border-box;
		font-size: inherit;
		font-family: inherit;
		line-height: 1.5;
	}
}

/* Inline code */
:not(pre) > code.prism {
	padding: 0.1em;
	white-space: normal;
	border-radius: 0.3em;
}

/* line highlight */
.hcb_wrap .line-highlight {
	position: absolute;
	right: 0;
	left: 0;
	margin-top: $hcbPaddingY;
	padding: 0;
	font-size: inherit;
	line-height: inherit;
	white-space: pre;
	pointer-events: none;
}

.hcb_wrap .line-highlight::before,
.hcb_wrap .line-highlight[data-end]::after {
	position: absolute;
	top: 0;
	left: 0;
	box-sizing: border-box;
	min-width: 1.5em; // ?
	padding: 1px 2px;
	font-weight: bold;
	font-size: 12px;
	line-height: inherit;
	text-align: center;
	text-shadow: none;
	vertical-align: middle;
	border-radius: 0;
	content: attr(data-start);
}

.hcb_wrap .line-highlight[data-end]::after {
	top: auto;
	bottom: 0;
	content: attr(data-end);
}

.hcb_wrap .line-numbers .line-highlight::before,
.hcb_wrap .line-numbers .line-highlight::after {
	content: none;
}

/* line numbers */
.hcb_wrap pre.line-numbers {
	position: static; /* relative -> hcb_wrap */
	padding-left: 3.75em;
	counter-reset: linenumber;
}

.hcb_wrap pre.line-numbers > code {
	position: relative;
	white-space: inherit;
}

.hcb_wrap .line-numbers .line-numbers-rows {
	position: absolute;
	top: -2px;
	left: -3.75em;
	width: 3em; /* works for line-numbers below 1000 lines */
	font-size: inherit;
	letter-spacing: -1px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	pointer-events: none;
}

.hcb_wrap .line-numbers-rows > span {
	display: block;
	counter-increment: linenumber;
	pointer-events: none;
}

.hcb_wrap .line-numbers-rows > span::before {
	display: block;
	padding-right: 0.8em;
	text-align: right;
	content: counter(linenumber);
}

/* Lang Name */
.hcb_wrap pre::before {
	position: absolute;
	top: 0;
	right: 0;
	z-index: 1;
	box-sizing: border-box;
	//   display: block;
	//   width: max-content;
	min-width: 4em;
	padding: 0 10px;
	font-size: 12px;
	font-family: Arial, Helvetica, sans-serif;
	line-height: 20px;
	text-align: center;
	content: attr(data-lang);


}
// コピーボタンがある時
.hcb_wrap .hcb-clipboard + pre::before {
	right: 26px;
}


.hcb_wrap pre[data-file]::before {
	padding: 0 8px 0 20px;
	background-repeat: no-repeat;
	background-position: center left 8px;
	background-size: auto 10px;
	content: attr(data-file);
}

.hcb_wrap pre[data-show-lang="0"]:not([data-file])::before {
	content: none;
}

.hcb_wrap .hcb-clipboard {
	position: absolute;
	top: 0;
	right: 0;
	z-index: 1;
	box-sizing: border-box;
	width: 20px;
	height: 20px;
	// min-width: 4em;
	padding: 0;
	// font-size: 12px;
	// font-family: Arial, Helvetica, sans-serif;
	// line-height: 20px;
	text-align: center;
	background-color: rgba(#fff, 0.8);
	background-image: url(../../assets/img/clipborad.svg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: 16px auto;
	border: none;
	border-radius: 1px;
}

.hcb_wrap .hcb-clipboard.-done {
	background-image: url(../../assets/img/copied.svg);

	&::before {
		position: absolute;
		right: 0;
		bottom: 100%;
		font-size: 14px;
		font-family: Arial, Helvetica, sans-serif;
		line-height: 1.5;
		content: "Copied!";
	}
}


